<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" 
      fxLayoutGap="1em" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="Enter email">
        <mat-hint>Please enter your email.</mat-hint>
        <mat-error>Invalid email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Enter password">
        <mat-hint>Please enter your password.</mat-hint>
        <mat-error>Password is required.</mat-error>
      </mat-form-field>
     
      <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button 
        color="primary" [disabled]="loginForm.invalid">Submit</button>
      <mat-spinner *ngIf="isLoading$ | async"  color="primary">
      </mat-spinner>
    </form>
</section>